* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    background-size: cover;
    background-position: center;
    position: absolute;
}

html,
body {
    height: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 48px;
    margin-top: 20px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 24px;
    font-size: 20px;
}

button {
    display: block;
    width: 800px;
    padding: 30px 0;
    text-align: center;
    margin: 20px auto;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #22A39F;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    overflow: hidden;
}

button a {
    text-decoration: none;
    color: #fff;
}

button a:hover {
    text-decoration: none;
}

button a:visited {
    color: #fff;
}

span {
    background: transparent;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.5s, background-color 0.5s;
}

button:hover span {
    width: 100%;
    background-color: #22A39F;
}

button:hover {
    border: none;
}